.title {
  text-align: center;
}

.table_container {
  background-color: rgb(138, 145, 142);
  padding: 10px;
  width: 50vw;
  margin: 0 auto;
}

.table_header {
  background-color: aliceblue;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.table_row {
  font-weight: bold;
}

.table_content {
  background-color: rgb(203, 236, 165);
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  border: 2px black dashed;
}
